[user]
  name = Uthman Mohamed
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[core]
  autocrlf = input
  excludesfile = ~/.config/git/global-gitignore
  editor = nvim
  # pager = delta --dark --syntax-theme base16-256 --diff-so-fancy --paging never --file-style="omit" 
  pager = delta
[alias]
  st = status -sb
  last = log -1 HEAD --stat
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  aliases = config --get-regexp alias

# delta https://github.com/dandavison/delta
[interactive]
  diffFilter = delta --color-only --diff-so-fancy

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  dark = true
  syntax-theme = "Catppuccin-macchiato"
  paging = never

[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
  conflictstyle = zdiff3
  tool = nvimdiff
[mergetool]
  prompt = false
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\" -c \"wincmd w\"

[help]
  autoCorrect = 20

[credential]
  helper = store
[init]
	defaultBranch = main
[rerere]
	enabled = true # Remember merge resolutions and reuse them if the same files are merged later
[maintenance]
	auto = true
[fetch]
	prune = true
	prunetags = true
[push]
	autoSetupRemote = true
[commit]
	template = ~/.config/git/commit-template.txt
[rebase]
	autostash = true
[pull]
	rebase = true
